/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header e navegação */
header {
    background-color: #0055A5;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Seções */
section {
    padding: 50px 20px;
    margin-bottom: 20px;
}

#home {
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
}

#home h1 {
    font-size: 3em;
}

/* Botões */
button a {
    text-decoration: none;
    background-color: #0055A5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

button a:hover {
    background-color: #003b72;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
